In [13]:
'''
Code written by Allen Lauer
Goal of this is to pull team matches from the OpenDota database.
Using the pulling_data_team_matches I can now get individual matches that are not duplicates.

https://api.opendota.com/api/teams

then I am now querying each match ID I gathered before and getting their matches.
'''

'\nCode written by Allen Lauer\nGoal of this is to pull team matches from the OpenDota database.\nUsing the pulling_data_team_matches I can now get individual matches that are not duplicates.\n\nhttps://api.opendota.com/api/teams\n\nthen I am now querying each match ID I gathered before and getting their matches.\n'

In [14]:
import pandas as pd
import requests
import json
df = pd.read_csv('active_teams.csv')
df.shape

(21, 2)

In [15]:
df

                 team       ID
0         Team Liquid     2163
1         Team Secret  1838315
2             PSG.LGD       15
3         Vici Gaming   726228
4          Virtus.pro  1883502
5              Fnatic   350190
6                  OG  2586976
7       Evil Geniuses       39
8        TNC Predator  2108395
9            Alliance   111474
10         Team Aster  6209166
11              EHOME        4
12     Forward Gaming  6214538
13        KEEN GAMING  2626685
14             Newbee  1375614
15      Natus Vincere       36
16  Ninjas in Pyjamas  6214973
17       Team. Spirit  2621843
18                NaN  2635099
19        paiN Gaming       67
20            Mineski   543897

In [16]:
columns = ['team_id','matches']
match_id = pd.DataFrame(columns=columns)
count = 0

for row in df.ID:
    with open('matches/master/team_' + str(row) + '.json') as json_data:
        d = json.load(json_data)
        for record in d:
            if count < 100:
                match_id.loc[len(match_id)] = [row,record['match_id']]
                count = count + 1
            else:
                count = 0
                break
print (match_id)

     team_id     matches
0       2163  4263024920
1       2163  4262918767
2       2163  4261276736
3       2163  4261111650
4       2163  4259252268
5       2163  4259132764
6       2163  4258790488
7       2163  4258697655
8       2163  4247541248
9       2163  4247453182
10      2163  4247393718
11      2163  4247243752
12      2163  4247178238
13      2163  4247094184
14      2163  4245889049
15      2163  4245820100
16      2163  4244353752
17      2163  4244284417
18      2163  4244077973
19      2163  4243965501
20      2163  4138897436
21      2163  4138834856
22      2163  4138748557
23      2163  4138654389
24      2163  4138539349
25      2163  4137154017
26      2163  4137068752
27      2163  4127768032
28      2163  4127637673
29      2163  4127531266
...      ...         ...
1770  543897  3934197014
1771  543897  3934135077
1772  543897  3934056852
1773  543897  3931151617
1774  543897  3930995463
1775  543897  3930871882
1776  543897  3930752760
1777  543897  3930642875
1778  543897  3930216789
1779  543897  3930125995
1780  543897  3930017604
1781  543897  3913231529
1782  543897  3913069866
1783  543897  3911695865
1784  543897  3911582365
1785  543897  3910028416
1786  543897  3909951436
1787  543897  3909857306
1788  543897  3909169351
1789  543897  3899726029
1790  543897  3899640601
1791  543897  3894049655
1792  543897  3893895473
1793  543897  3893763347
1794  543897  3893314987
1795  543897  3893222060
1796  543897  3891925312
1797  543897  3891767458
1798  543897  3891117294
1799  543897  3891024973

[1800 rows x 2 columns]

In [18]:
match_id = match_id.drop_duplicates(subset='matches')
match_id.shape

(1376, 2)

In [19]:
match_id.to_csv('active_matches.csv', encoding='utf-8', index=False)