In [ ]:
'''This is a test script, use Pulling_Data instead'''

In [8]:
import pandas as pd
import requests
import json
df = pd.read_csv('active_matches.csv')
df.shape

(1376, 2)

In [9]:
df

      team_id     matches
0        2163  4263024920
1        2163  4262918767
2        2163  4261276736
3        2163  4261111650
4        2163  4259252268
5        2163  4259132764
6        2163  4258790488
7        2163  4258697655
8        2163  4247541248
9        2163  4247453182
10       2163  4247393718
11       2163  4247243752
12       2163  4247178238
13       2163  4247094184
14       2163  4245889049
15       2163  4245820100
16       2163  4244353752
17       2163  4244284417
18       2163  4244077973
19       2163  4243965501
20       2163  4138897436
21       2163  4138834856
22       2163  4138748557
23       2163  4138654389
24       2163  4138539349
25       2163  4137154017
26       2163  4137068752
27       2163  4127768032
28       2163  4127637673
29       2163  4127531266
...       ...         ...
1346   543897  4125773130
1347   543897  4125561174
1348   543897  4125519181
1349   543897  4065077879
1350   543897  4064996401
1351   543897  4061977166
1352   543897  4061922574
1353   543897  4061766981
1354   543897  4061694810
1355   543897  3931151617
1356   543897  3930995463
1357   543897  3930871882
1358   543897  3930752760
1359   543897  3930642875
1360   543897  3930216789
1361   543897  3930125995
1362   543897  3930017604
1363   543897  3911695865
1364   543897  3911582365
1365   543897  3910028416
1366   543897  3909951436
1367   543897  3909857306
1368   543897  3909169351
1369   543897  3894049655
1370   543897  3893895473
1371   543897  3893763347
1372   543897  3893314987
1373   543897  3893222060
1374   543897  3891925312
1375   543897  3891767458

[1376 rows x 2 columns]

In [ ]:
for row in df.matches:
    r = requests.get('https://api.opendota.com/api/matches/'+str(row)')
    team = r.json()
    with open('matches/archive/' + str(row) + '.json', 'w') as outfile:
        json.dump(team, outfile)