In [1]:
'''
Code written by Allen Lauer
Goal of this is to pull team matches from the OpenDota database.

This is the 3rd script

I manually found the top 20 teams and got their ID's from this page:
https://api.opendota.com/api/teams

This is the code to run after player_database_gen, gets the last 200 or so matches for each team from the database

then I am now querying each team ID and getting their matches.
The other file player_data_base gen will assemble the players into the table.
'''

"\nCode written by Allen Lauer\nGoal of this is to pull team matches from the OpenDota database.\n\nI manually found the top 20 teams and got their ID's from this page:\nhttps://api.opendota.com/api/teams\n\nThis is the second code to run, gets the last 200 or so matches for each team from the database\n\nthen I am now querying each team ID and getting their matches.\nThe other file player_data_base gen will assemble the players into the table.\n"

In [2]:
import pandas as pd
import requests
import json
df = pd.read_csv('active_teams.csv')
df.shape

(21, 2)

In [3]:
df

                 team       ID
0         Team Liquid     2163
1         Team Secret  1838315
2             PSG.LGD       15
3         Vici Gaming   726228
4          Virtus.pro  1883502
5              Fnatic   350190
6                  OG  2586976
7       Evil Geniuses       39
8        TNC Predator  2108395
9            Alliance   111474
10         Team Aster  6209166
11              EHOME        4
12     Forward Gaming  6214538
13        KEEN GAMING  2626685
14             Newbee  1375614
15      Natus Vincere       36
16  Ninjas in Pyjamas  6214973
17       Team. Spirit  2621843
18                NaN  2635099
19        paiN Gaming       67
20            Mineski   543897

In [4]:
for row in df.ID:
    r = requests.get('https://api.opendota.com/api/teams/'+str(row)+'/matches')
    team = r.json()
    with open('matches/master/team_'+ str(row) + '.json', 'w') as outfile:
        json.dump(team, outfile)